@font-face 
    font-family: "Work Sans"
    src: url("../../fonts/Work Sans/WorkSans-VariableFont_wght.ttf") format("truetype")
    font-style: normal, bold

@font-face 
    font-family: "Work Sans"
    src: url("../../fonts/Work Sans/WorkSans-Italic-VariableFont_wght.ttf") format("truetype")
    font-style: italic

@font-face 
    font-family: "Caprasimo"
    src: url("../../fonts/Caprasimo/Caprasimo-Regular.ttf") format("truetype")
    font-style: normal, bold

    
$globalFont1: 'Work Sans', sans-serif
// $globalFont2: 'Poppins', sans-serif
// $globalFont3: 'Fira Code', monospace
$globalFont4: 'Caprasimo', sans-serif