/* Initial Load */

.timelineInitialTypesAnimationBefore {
    opacity: 0.0!important;
}

.timelineInitialTypesAnimation {
    animation-fill-mode: both;
    cursor: pointer;
    animation: timelineLoadTopDown 1s;
}

.timelineInitialTypesAnimationReverse {
    animation-fill-mode: both;
    cursor: pointer;
    animation: timelineLoadBottomUp 1s;
}

.timelineInitialTypesAnimation > p, .timelineInitialTypesAnimationReverse > p {
    animation-fill-mode: both;
    animation: timelineLoadText 1s;
}

/* Choosing */

.timelineInitialTypes:hover > img, .timelineInitialTypes[data-selection="active"] > img {
    filter: brightness(1) grayscale(0.0) blur(0);
}

.timelineInitialTypes:hover > p, .timelineInitialTypes[data-selection="active"] > p {
    color: rgba(255, 255, 255, 1)!important;
}

.timelineFadeout {
    animation: timelineFadeout 1.5s ease;
    animation-fill-mode: forwards;
}

.timelineInitialTypes[data-selection="active"], .timelineFadeout {
    pointer-events: none;
    cursor: default;
}

/* After Click */

.timelineFadeoutSelected {
    pointer-events: none;
}

.timelineFadeoutSelected > img {
    filter: brightness(1) grayscale(0.0) blur(0);
}

.timelineFadeoutSelected > p {
    color: rgba(255, 255, 255, 1);
}

.timelineUnloadTopDown {
    animation: timelineUnloadTopDown 1.25s ease;
    animation-fill-mode: forwards;
}

.timelineUnloadBottomUp {
    animation: timelineUnloadBottomUp 1.25s ease;
    animation-fill-mode: forwards;
}