@use "../../indexCompile" as *

body 
    max-width: 100%
    max-height: 100%


.backgroundImageAbout
    position: fixed
    animation: 1.5s backgroundImageAnimation1 ease


.myPictureWrapper
    position: fixed
    width: fit-content
    z-index: 2


.myPicture 
    width: 20vw
    min-width: 200px
    max-width: 400px
    aspect-ratio: 1
    margin: calc(250px - 12.5vw) 0px 0px 7.5vw
    border-radius: 50%
    background-color: rgba($grey1, 0.5)
    border: 5px solid rgba($orange, 0.65)
    box-shadow: 5vw 2vw 0px 0px rgba($grey3, 0.4)
    transition: 0.25s ease
    animation: 1s slideIn ease, 2s fade ease


.myPicture:hover 
    transform: translateY(-5px)
    border-color: $orangeHover
    box-shadow: 5vw calc(2vw + 10px) 0px 0px rgba($grey3, 0.4)


.myPicture:hover ~ p 
    color: $orangeHover


.aboutMeText 
    margin-left: calc(40vw + 50px)
    text-align: left
    color: white
    font-size: 1.75em
    margin-top: 25px
    margin-bottom: 15px


.aboutMeText::after 
    content: ""
    width: 60px
    height: 3px
    border-radius: 5px
    background-color: $white
    margin-top: 15px
    margin-bottom: 40px
    background-color: $orange
    display: block
    


.footnoteForeword 
    margin-bottom: 0px


.aboutMeTexts 
    color: white
    font-size: 1.05em
    text-align: left
    margin-top: 0px
    padding: 10px 40px 10px 0px
    line-height: 1.5em


.footnotes 
    font-size: 0.7em
    color: lightgray
    margin-top: 0px
    margin-bottom: 0px
    padding: 10px 0px 0px 10px


.aboutMeTextsWrappers 
    background-color: rgba($grey2, 0.6)
    border: 2px solid rgba($orange, 0.3)
    width: calc(55vw - 200px)
    margin: 0px 0px 100px calc(35vw + 100px)
    border-radius: 10px
    padding: 50px
    box-shadow: 40px 40px 1px 1px rgba($grey3, 0.4)
    transition: 0.25s ease


.aboutMeTextsWrappers:hover 
    transform: translateY(-5px)
    border-color: $orangeHover
    box-shadow: 40px 50px 1px 1px rgba($grey3, 0.4)


.aboutMeTextsWrappers:hover > p > span[class~="orangeText"], .aboutMeTextsWrappers:hover > p > i > span[class~="orangeText"]
    color: $orangeHover!important


.name 
    margin-top: 50px
    width: 20vw
    min-width: 200px
    max-width: 400px
    margin-left: 7.5vw
    font-size: 1.75em
    color: $orange
    transition: 0.25s ease
    animation: 1s slideIn ease, 2s fade ease
    

.boxShadowSlideInInitial 
    box-shadow: 60px 40px 1px 1px rgba($grey3, 0.4)!important


.boxShadowSlideIn 
    animation: 2s boxShadowSlideIn ease
    animation-fill-mode: forwards


/* Responsive */
@media (max-width: $breakpoint_large) 

    .aboutpage
        display: flex!important
        flex-direction: column!important
        margin-top: 0px!important


    .myPictureWrapper
        position: relative!important
        margin-top: 10px!important



    .myPicture 
        margin: 0px 25vw 0px 25vw!important
        box-shadow: 50px 20px 0px 0px rgba($grey3, 0.4)
        width: 50vw
        min-width: 100px
        max-width: 800px
        box-shadow: 4vw 4vw 0px 0px rgba($grey3, 0.4)
    

    .myPicture:hover 
        box-shadow: 4vw calc(4vw + 10px) 0px 0px rgba($grey3, 0.4)!important


    .name
        margin: 7.5vw auto 15vw auto!important
        font-size: 1.6em
    
        
    .aboutMeText
        font-size: 1.3em
        margin: 0px 70px 0px 70px!important
    
        
    .aboutMeText::after
        width: 10vw


    .aboutMeTexts
        padding-right: 0px!important
        font-size: 0.75em
    
        
    .aboutMeTextsWrappers 
        margin: 0px min(12.5vw, 60px) 100px min(12.5vw, 60px)!important
        width: calc(100vw - 50px - min(25vw, 120px))!important
        padding: 25px
        box-shadow: 20px 20px 1px 1px rgba($grey3, 0.4)


    .aboutMeTextsWrappers:hover 
        box-shadow: 20px 30px 1px 1px rgba($grey3, 0.4)!important


@media (min-width: $breakpoint_ultra_large) 

    .aboutMeText 
        margin-left: calc(15vw + 550px)
    

    .myPicture 
        margin-top: 0px
        box-shadow: 100px 40px 0px 0px rgba($grey3, 0.4)
    

    .myPicture:hover 
        box-shadow: 100px 50px 0px 0px rgba($grey3, 0.4)
    

    .aboutMeTextsWrappers 
        margin-left: calc(15vw + 500px)
        width: calc(75vw - 600px)
    

@keyframes boxShadowSlideIn 
    0%
        box-shadow: 60px 40px 1px 1px rgba($grey3, 0.4)!important
    100% 
        box-shadow: 40px 40px 1px 1px rgba($grey3, 0.4)!important
