.timelineDesignAnim {
    --timelineDesignAnimBG1: #111;
    --timelineDesignAnimBG2: #666;
    --timelineDesignAnimBG3: #777;
    --timelineDesignAnimBG4: #222;
    position: absolute;
}

.timelineDesignAnimContent1 {
    margin-left: 2.5vw;
    margin-top: 15vh;
}

.timelineDesignAnimSearchbar {
    width: 45vw;
    height: max(48px, 3vh);
    border-radius: 40px;
    background-color: var(--timelineDesignAnimBG4);
    justify-content: end;
    box-shadow: 4px 4px 4px 2px rgba(60, 60, 60, 0.6);
}

.timelineDesignAnimSearchbarIcon {
    fill: #fff;
    scale: 0.4;
    margin: auto 0 auto 0;
}

.timelineDesignAnimText {
    position: absolute;
    width: 100vw;
    justify-content: center;
    margin-top: 25vh;
    z-index: 2;
    animation: 3s designContentTextAnimation ease;
    animation-fill-mode: forwards;
}

.timelineDesignAnimContent2Col1 {
    border-radius: 10px;
}

.timelineDesignAnimContentWrapper {
    rotate: 10deg;
    opacity: 1;
    animation-fill-mode: forwards;
    /* animation: 3s designContentWrapperAnimation linear; */
}

.timelineDesignAnimCircle1 {
    border-radius: 50%;
    background-color: var(--orange);
    width: 2.5vw;
    height: auto;
    min-width: 30px;
    aspect-ratio: 1;
    margin: 0px 0px 0px max(10px, 1.5vw);
    translate: 0px max(10px, 1.5vw);
}

.timelineDesignAnimCircle1::after {
    background-color: var(--timelineDesignAnimBG2);
    content: "";
    width: 12.5vw;
    height: 1.5vw;
    margin-left: max(45px, 4vw);
    position: absolute;
    border-radius: 2vw;
    margin-top: max(5px, 0.5vw);
}

.timelineDesignAnimPlaceholderImg {
    margin-top: calc(12.5vh - 24px);
    /* filter: invert(); */
    fill: var(--timelineDesignAnimBG3);
}

.pieChart {
    width: 20vh;
    height: auto;
    aspect-ratio: 1;
    background: conic-gradient(var(--orange) 70%, var(--orangeTranslucent) 70%);
    border-radius: 50%;
    margin: 5vh auto 0px auto
}

@keyframes designContentWrapperAnimation {
    0% {transform: translateX(0px); opacity: 0.0;}
    40% {opacity: 1.0;}
    85% {opacity: 1.0;}
    100% {transform: translateX(50px); opacity: 0.0;}
}

@keyframes designContentTextAnimation {
    0% {opacity: 0.0;}
    15% {opacity: 1.0;}
    85% {opacity: 1.0;}
    100% {opacity: 0.0;}
}

@keyframes svgAnimateD1 {
    0% {stroke-dasharray: 0 2000;}
    30% {stroke-dasharray: 100 1900;}
    70% {stroke-dasharray: 100 1900;}
    100% {stroke-dasharray: 0 2000;}
}

@keyframes svgAnimateD2 {
    0% {stroke-dasharray: 0 100 0 100 0 2000;}
    30% {stroke-dasharray: 0 0 200 0 0 1800;}
    70% {stroke-dasharray: 0 0 200 0 0 1800;}
    100% {stroke-dasharray: 0 100 0 100 0 2000;}
}

@keyframes svgAnimateE1 {
    0% {stroke-dasharray: 0 2000;}
    30% {stroke-dasharray: 100 1900;}
    70% {stroke-dasharray: 100 1900;}
    100% {stroke-dasharray: 0 2000;}
}

@keyframes svgAnimateE2 {
    0% {stroke-dasharray: 0 2000;}
    30% {stroke-dasharray: 60 2000;}
    70% {stroke-dasharray: 60 2000;}
    100% {stroke-dasharray: 0 2000;}
}

@keyframes svgAnimateE3 {
    0% {stroke-dasharray: 0 45 0 2000; opacity: 1;}
    30% {stroke-dasharray: 0 0 45 2000;}
    70% {stroke-dasharray: 0 0 45 2000;}
    100% {stroke-dasharray: 0 45 0 2000; opacity: 1;}
}

@keyframes svgAnimateS1 {
    0% {stroke-dasharray: 0 0 0 130 0 130 0 0 0 2000;}
    30% {stroke-dasharray: 50 0 0 0 150 0 0 0 50 2000;}
    70% {stroke-dasharray: 50 0 0 0 150 0 0 0 50 2000;}
    100% {stroke-dasharray: 0 0 0 130 0 130 0 0 0 2000;}
}

@keyframes svgAnimateI1 {
    0% {stroke-dasharray: 0 2000;}
    30% {stroke-dasharray: 100 2000;}
    70% {stroke-dasharray: 100 2000;} 
    100% {stroke-dasharray: 0 2000;}
}

@keyframes svgAnimateG1 {
    0% {stroke-dasharray: 0 2000;}
    30% {stroke-dasharray: 250 2000;}
    70% {stroke-dasharray: 250 2000;}
    100% {stroke-dasharray: 0 2000;}
}

@keyframes svgAnimateG2 {
    0% {stroke-dasharray: 0 2000;}
    30% {stroke-dasharray: 22 2000;}
    70% {stroke-dasharray: 22 2000;}
    100% {stroke-dasharray: 0 2000;}
}

@keyframes svgAnimateN1 {
    0% {stroke-dasharray: 0 2000;}
    30% {stroke-dasharray: 100 2000;}
    70% {stroke-dasharray: 100 2000;}
    100% {stroke-dasharray: 0 2000;}
}

@keyframes svgAnimateN2 {
    0% {stroke-dasharray: 0 70 0 70 0 2000;}
    30% {stroke-dasharray: 0 0 140 0 0 2000;}
    70% {stroke-dasharray: 0 0 140 0 0 2000;}
    100% {stroke-dasharray: 0 70 0 70 0 2000;}
}