.timelineProgrammingAnimWrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    animation-fill-mode: both!important;
    background-color: rgba(0, 0, 0, 0);
    animation: programmingBGAnimAppear 2.2s linear;
    z-index: 2;
}

.timelineProgrammingAnimTextWrapper {
    white-space: nowrap;
    animation-fill-mode: both!important;
    width: fit-content;
    height: fit-content;
    position: absolute;
}

.timelineProgrammingAnimText {
    /* color: var(--orangeTranslucent); */
    font-size: 1.6em;
    margin: 5px 0px 5px 0px;
    animation-fill-mode: both!important;
    border-radius: 20px;
    padding: 10px;
    font-family:'Courier New', Courier, monospace
}

.programmingAnimLeftRight1 {
    animation: 2s programmingAnimLeftRight1 linear;
}

.programmingAnimLeftRight2 {
    animation: 2s programmingAnimLeftRight2 linear;
}

.programmingAnimLeftRight3 {
    animation: 2s programmingAnimLeftRight3 linear;
}

.programmingAnimRightLeft1 {
    animation: 2s programmingAnimRightLeft1 linear;
}

.programmingAnimRightLeft2 {
    animation: 2s programmingAnimRightLeft2 linear;
}

.programmingAnimRightLeft3 {
    animation: 2s programmingAnimRightLeft3 linear;
}

@keyframes programmingAnimLeftRight1 {
    0% {transform: translateX(0px);}
    100% {transform: translateX(30px);}
}

@keyframes programmingAnimLeftRight2 {
    0% {transform: translateX(0px);}
    100% {transform: translateX(60px);}
}

@keyframes programmingAnimLeftRight3 {
    0% {transform: translateX(0px);}
    100% {transform: translateX(90px);}
}

@keyframes programmingAnimRightLeft1 {
    0% {transform: translateX(0px);}
    100% {transform: translateX(-30px);}
}

@keyframes programmingAnimRightLeft2 {
    0% {transform: translateX(0px);}
    100% {transform: translateX(-60px);}
}

@keyframes programmingAnimRightLeft3 {
    0% {transform: translateX(0px);}
    100% {transform: translateX(-90px);}
}

@keyframes programmingAnimAppear {
    0% {opacity: 0.0;}
    40% {opacity: 1.0;}
    60% {opacity: 1.0;}
    100% {opacity: 0.0;}
}

@keyframes programmingBGAnimAppear {
    0% {background-color: rgba(0, 0, 0, 0)}
    20% {background-color: rgba(0, 0, 0, 1)}
    80% {background-color: rgba(0, 0, 0, 1)}
    100% {background-color: rgba(0, 0, 0, 0)}
}