@use "../../indexCompile" as *

p, h1 
    text-align: center


.appBGOverlay 
    height: 100%
    width: 100%
    margin: auto
    padding: 0% 0% 2% 0%


.infoBackground 
    justify-content: left
    margin-top: 5vh
    z-index: 11
    position: relative


.infoDescription
    z-index: 11
    position: relative
    letter-spacing: -0.25px
    font-family: $globalFont1


.infoDescription > p 
    text-align: left


.greetings 
    padding: 0px 12.5px 0px 20px
    margin-bottom: 2.25vh
    // height: 3.8vh
    margin-left: 10%
    font-size: 1.5em
    animation: 1.25s fade ease-in
    z-index: 11
    position: relative
    justify-content: end !important
    letter-spacing: -0.5px
    background: linear-gradient(135deg, rgba($grey7, 1) 0%, rgba($white, 1) 70%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-family: $globalFont1


.homeName 
    font-size: 2.4em
    margin-bottom: 1.75vh
    // height: 4vh
    animation: 1s fade ease-in 1.5s both, 2s slideInR ease 1.5s both
    justify-content: end !important
    background: linear-gradient(135deg, #db4d2a 0%, rgba($orange, 1) 50%, #db4d2a 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-family: $globalFont6
    letter-spacing: 1px


.divider 
    width: 550px
    height: 2px
    background-color: rgba($white, 0.3)
    margin: -0.5vh 0px 1.25vh 10%
    animation: 1s fade ease-in 2.3s both, 1s dividerOne cubic-bezier(.25,.02,.25,1) 2.8s both


.divider2
    width: 100vw
    height: 70vh
    margin: 0
    transform: translate(0px, 0px)!important
    position: absolute
    transition: 0s !important
    animation: 1s backgroundColour2 ease 5s both, 2.4s dividerTwo cubic-bezier(.25,.02,.25,1) 2.5s backwards
    border-top: 1px solid rgba($orange, 0.7)


.divider2 + .infoDescription
    margin-top: 1.5vh


.description 
    margin: 0.75vh 10vw 0px calc(10% + 20px)
    animation: 2.5s fadeDelayed ease 3s both, 2.5s slideInR ease 3.5s both
    color: $white
    font-size: 0.85em


.divider2 + .infoDescription > .description 
    animation: 2s fadeDelayed ease 2.8s both, 2.5s slideInR ease 3.5s both !important



@media (min-width: $breakpoint_medium)
    .appBGOverlay1
        margin-top: calc(30vh - 180px)
    


@media (max-width: $breakpoint_medium)
    .infoBackground
        flex-direction: column!important


    .infoBackground > p, .infoBackground > h1
        text-align: left!important
        margin-top: 0
        margin-bottom: 0
        padding: 10px
        margin-left: 12.5%

    .infoBackground > h1
        padding-bottom: 10px
        padding-top: 5px

    .homeName
        font-size: 1.75em
        margin-bottom: 1.25vh!important
        padding-top: 5px!important

    .greetings
        font-size: 1em
        margin-bottom: 0vh!important

    .description
        font-size: 0.75em
        margin-top: 20px
        margin-bottom: 5px

    .age
        margin-top: 0px



@media (max-width: $breakpoint_small)
    .infoBackground
        flex-direction: column!important
        margin-top: 10vh
        margin-left: 7.5px

    .greetings
        padding-bottom: 0px!important

    .description
        font-size: 0.55em

    .age
        font-size: 0.6em