@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p, h1 {
    text-align: center;
}

.appBGOverlay {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 2% 0% 2% 0%;
}

.infoBackground {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.infoDescription > p {
    text-align: left;
}

.greetings {
    padding: 20px 15px 0px 20px;
    margin-left: 10%;
    font-size: 2rem;
    animation: 0.75s fade ease-in;
    color: white;
}

.name {
    font-size: 2.5rem;
    padding-top: 20px;
    color: #f06f4f;
    animation: 0.75s fade ease-in;
}

.divider {
    width: 550px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 10%;
    animation: 1.5s fadeDelayed ease-in;
}

.description {
    margin-left: calc(10% + 20px);
    animation: 1.5s fadeDelayed ease-in;
    color: white;         
}