@use "../../indexCompile" as *

p, h1 
    text-align: center


.appBGOverlay 
    height: 100%
    width: 100%
    margin: auto
    padding: 0% 0% 2% 0%


.infoBackground 
    justify-content: left
    margin-top: 5vh


.infoDescription > p 
    text-align: left


.greetings 
    padding: 20px 15px 0px 20px
    margin-left: 10%
    font-size: 2em
    animation: 1.25s fade ease-in
    color: $white


.homeName 
    font-size: 2.5em
    padding-top: 20px
    color: #f06f4f
    animation: 0.75s fade ease-in


.divider 
    width: 550px
    height: 2px
    background-color: rgba($white, 0.3)
    margin-left: 10%
    animation: 1s fade ease-in 0.75s both, 1s slideInR ease 1s both


.divider2
    width: 100vw
    height: 70vh
    margin: 0
    transform: translate(0px, 0px)!important
    position: absolute
    transition: 0s !important
    animation: 1s backgroundColour2 ease 3s both


.divider2 + .infoDescription
    margin-top: 25px


.description 
    margin-left: calc(10% + 20px)
    margin-right: 10vw
    animation: 2s fadeDelayed ease-in 1s both, 2s slideInR ease 1.5s both
    color: $white
    font-size: 0.9em


.divider2 + .infoDescription > .description 
    animation: 2s fadeDelayed ease-in 0.5s both, 2s slideInR ease 0.5s both !important
    


@media (max-width: $breakpoint_medium)
    .infoBackground
        flex-direction: column!important


    .infoBackground > p, .infoBackground > h1
        text-align: left!important
        margin-top: 0
        margin-bottom: 0
        padding: 10px
        margin-left: 12.5%

    .infoBackground > h1
        padding-bottom: 10px
        padding-top: 5px

    .homeName
        font-size: 1.75em

    .greetings
        font-size: 1.3em

    .description
        font-size: 0.75em
        margin-top: 15px
        margin-bottom: 5px

    .age
        margin-top: 0px



@media (max-width: $breakpoint_small)
    .infoBackground
        flex-direction: column!important
        margin-top: 10vh
        margin-left: 7.5px

    .greetings
        padding-bottom: 0px!important

    .description
        font-size: 0.55em

    .age
        font-size: 0.6em