body {
    max-width: 100%;
    /* max-height: 100%; */
}

.homepage {
    margin: 0;
    height: 625vh;
}

.backgroundImage {
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
}

.backgroundImageHome {
    position: absolute;
}

.backgroundImage2 {
    /* margin-top: 50vh; */
    /* transition: 0.25s ease filter; */
    width: 100vw;
    height: 100vh;
}

.backgroundImage2Wrapper {
    /* box-shadow: inset 0px 0px 100px 50px black; */
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    /* transform: translateY(50vh); */
    /* padding-top: 50vh; */
}

.appMain {
    padding-top: 12.5vh;
}

.pastExperience {
    font-style: italic;
    font-size: 0.75em;
    right: 0;
    margin: -35px calc(2.5vw + 270px) 0px 0px;
    color: rgb(255, 255, 255);
    opacity: 0.4;
    z-index: -1;
    position: absolute;
    animation: 1.5s fadeDelayed2 ease-in, bounceText 3.6s infinite;
}

.squigglyArrow {
    scale: 0.25;
    rotate: -20deg;
    position: absolute;
    right: 0;
    margin: -250px calc(2.5vw + 145px) 0px 72.5vw;
    opacity: 0.4;
    z-index: -1;
    animation: 1.5s fadeDelayed2 ease-in, bounceArrow 3.6s infinite;
}

.scrollCheckOutText {
    margin: calc(-50vh - min(25px, 5vh)) 0px 0px 0px;
    color: var(--orange);
    font-weight: 700;
    position: absolute;
    margin: 100vh auto 0px auto;
    left: 0;
    right: 0;
    font-size: 3em;
}

.programmingIcon, .aviationIcon, .pcIcon, .designIcon {
    fill: var(--orange);
    margin-right: 20px;
}

.showcaseImageText {
    color: var(--orange);
    font-size: 2.5em;
    font-weight: 600;
    position: absolute;
    width: 100vw;
    height: 90vh;
    font-family: var(--globalFont2), sans-serif;
    /* pointer-events: none; */
    /* background: linear-gradient(#f06f4f00 0%, #f06f4f88 30%, #f06f4f88 70%, #f06f4f00 100%); */
}

.showcaseImageText1 {
    margin: 190vh 0px 0px 0px;
}

.showcaseImageText2 {
    margin: 275vh 0px 0px 0px;
    height: 75vh;
    z-index: 12;
}

.showcaseImageText3 {
    margin: 340vh 0px 0px 0px;
    z-index: 12;
}

.showcaseImageText4 {
    margin: 415vh 0px 0px 0px;
    z-index: 12;
}

.backgroundImage3 {
    margin-top: 10vh;
}

.spacer {
    /* height: 50vh; */
    content: "";
    width: 100vw;
}

.contactMeEndPage {
    position: absolute;
    margin: 530vh 0px 0px 0px;
    width: 100vw;
    font-size: 2em;
}

.contactMeEndPageText {
    color: var(--orange);
    font-weight: 500;
}

.contactMeEndPageButton {
    width: max(200px, 10vw);
    margin: auto;
    height: max(70px, 2.5vh);
    font-size: 0.6em;
    background-color: var(--orange);
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 10px;
    font-weight: 600;
}

.contactMeEndPageButton:hover {
    background-color: var(--orangeHover);
}

.backgroundImageLast {
    position: absolute;
    margin: 490vh 0px 0px 0px;
    filter: brightness(0.25);
}

.links-home {
    padding: 0!important;
    text-decoration: none!important;    
    color: white;
    width: 100%!important;
    height: 100%!important;
    margin: auto!important;
    text-align: center!important;
}

.backToTop {
    position: absolute;
    color: var(--orange);
    margin: 585vh auto 0px auto;
    left: 0;
    right: 0;
    height: 5vh;
    background: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.6em;
    font-weight: 500;
    font-family: var(--globalFont2), sans-serif;
    transition: 0.3s ease;
}

.backToTop:hover {
    color: var(--orangeHover);
}

@media (min-width: 1666px) {
    .squigglyArrow {
        margin-right: calc(((30vw - 450px)*3/5) + 2.5vw + 115px) !important;
    }

    .pastExperience {
        margin-right: calc(((30vw - 450px)*3/5) + 2.5vw + 240px) !important;
    }
}