@use "../../indexCompile" as * 


body 
    max-width: 100%


.navbarBG[data-index="1"]
    animation: 1.75s fadeIn ease 5s both


%fill-screen
    width: 100vw
    height: 100vh


.homepage 
    margin: 0


.topBackground
    position: absolute
    width: 100vw
    height: 100vh
    z-index: -1
    animation: 0s fadeIn ease 5s both, 1s backgroundColour ease 5s both


.backgroundImageHome 
    position: absolute!important
    // scale: 1.01



.backgroundImage 
    @extend %fill-screen
    min-height: 100%
    object-fit: cover
    filter: brightness(0.3)


.backgroundImage2 
    @extend %fill-screen


.backgroundImage2Wrapper 
    @extend %fill-screen
    pointer-events: none


.appMain 
    padding-top: 12.5vh!important


.pastExperience 
    font-style: italic
    font-size: 0.75em
    right: 0
    margin: -35px calc(2.5vw + 270px) 0px 0px
    color: $white
    opacity: 0.4
    position: absolute
    animation: 1.5s fadeDelayed2 ease-in both 5s, 3.6s bounceText infinite
    font-family: $globalFont5


.squigglyArrow 
    scale: 0.25
    rotate: -20deg
    position: absolute
    right: 0
    margin: -250px calc(2.5vw + 145px) 0px 72.5vw
    opacity: 0.4
    animation: 1.5s fadeDelayed2 ease-in both 5s, 3.6s bounceArrow infinite


.popUpTextWrapper
    position: absolute
    right: 0
    bottom: 0
    background-color: rgba($orange, 0.6)
    border-radius: 10px
    margin: 0px 30px 70px 0px
    opacity: 0
    animation: fade 3s ease 5s backwards
    z-index: 10
    min-width: fit-content
    transition: height 0.1s ease 0.2s, 0.2s ease
    overflow: hidden


.popUpTextWrapper:hover > .popUpText, .popUpTextWrapper:active > .popUpText
    min-width: 100px
    max-width: 20vw
    width: 20vw
    max-height: 28px
    overflow: auto
    opacity: 1
    height: auto
    padding: 0px 20px 0px 25px
    margin: 10px 0px 10px 0px
    transition: 0.5s ease, opacity 0.3s ease 0.1s


.popUpTextWrapper:hover, .popUpTextWrapper:active
    background-color: rgba($orange, 0.2)


.popUpText
    padding: 0px
    width: 0px
    height: 28px
    opacity: 0
    text-align: left
    margin: auto 0 auto 0
    color: rgba($white, 0.8)
    font-size: 0.65em
    font-style: italic
    transition: 0.5s ease, opacity 0.3s ease
    font-family: $globalFont2


.popUpClose
    filter: invert(1) opacity(0.5)
    scale: 0.35
    margin: auto
    height: 100%
    transition: 0.3s ease


.popUpCloseWrapper
    cursor: pointer


.popUpCloseWrapper:hover > svg
    filter: invert(1) opacity(1)


.scrollPrompt 
    position: absolute
    color: $white
    bottom: 0
    left: 0
    right: 0
    transition: 0.5s ease
    animation: 1.5s fadeDelayed2 ease-in both 5s, 3.6s bounceScrollPrompt infinite
    pointer-events: none


.scrollPrompt > p
    margin: 0
    font-weight: 600
    font-size: 0.75em


.scrollPromptArrow
    padding-bottom: 20px


.scrollCheckOutText 
    margin: calc(-50vh - min(25px, 5vh)) 0px 0px 0px
    color: $orange
    font-weight: 700
    position: absolute
    margin: 100vh auto 0px auto
    padding: 0px 10vw 0px 10vw
    left: 0
    right: 0
    font-size: 3em


.programmingIcon, .aviationIcon, .pcIcon, .designIcon 
    transition: 0.25s ease fill
    fill: rgba($orange, 0.7)
    margin-right: 20px


.showcaseImageText 
    transition: 0.25s ease color
    color: rgba($orange, 0.7)
    font-size: 2.5em
    font-weight: 600
    position: absolute
    width: 100vw
    height: 90vh
    font-family: $globalFont2

.showcaseImageText:hover, .showcaseImageText:hover > svg
    color: rgba($orange, 1)
    fill: rgba($orange, 1)


%showcaseImageTexts
    z-index: 12


@mixin showcaseImageTextGroup($mt, $extendZIndex)
    margin: $mt 0px 0px 0px
    @if $extendZIndex
        @extend %showcaseImageTexts


.showcaseImageText1 
    @include showcaseImageTextGroup(190vh, true)


.showcaseImageText2 
    height: 75vh
    background: radial-gradient(rgba($black, 0.3) 0%, transparent 20%)
    @include showcaseImageTextGroup(275vh, true)


.showcaseImageText3 
    @include showcaseImageTextGroup(340vh, true)


.showcaseImageText4 
    @include showcaseImageTextGroup(415vh, true)


.backgroundImage3 
    margin-top: 10vh


.spacer 
    content: ""
    width: 100vw


.contactMeEndPage 
    padding-top: 37.5vh
    width: 100vw
    font-size: 2em
    z-index: 1


.contactMeEndPageText 
    color: $orange
    font-weight: 500
    margin: 2em
    letter-spacing: -0.5px


.contactMeEndPageButton 
    width: max(150px, 10vw)
    margin: auto
    height: max(60px, 2.5vh)
    font-size: 0.5em
    background-color: $orange
    color: $white
    cursor: pointer
    transition: 0.3s ease
    border-radius: 10px
    font-weight: 600
    border: none


.contactMeEndPageButton:hover 
    background-color: $orangeHover


.backgroundImageLast 
    position: absolute
    z-index: -1
    margin-top: -60vh
    filter: brightness(0.25)


.links-home 
    padding: 0!important
    text-decoration: none!important    
    color: $white
    width: 100%!important
    height: 100%!important
    margin: auto!important
    text-align: center!important


.backToTop 
    bottom: 0
    position: fixed
    color: $orange
    margin: auto auto 0px auto
    left: 0
    right: 0
    height: 5vh
    background: transparent
    border: none
    outline: none
    text-decoration: none
    cursor: pointer
    font-size: 0.6em
    font-weight: 700
    transition: 0.3s ease
    font-family: $globalFont2


.backToTop:hover 
    color: $orangeHover


@media (min-width: $breakpoint_extra_large) 
    
    .squigglyArrow 
        margin-right: calc(((30vw - 450px)*3/5) + 2.5vw + 115px) !important
    

    .pastExperience 
        margin-right: calc(((30vw - 450px)*3/5) + 2.5vw + 240px) !important
    



@media (min-width: $breakpoint_medium)
    .appMain2
        padding-top: 10vh!important
        padding-right: 10vw


    
@media (max-width: $breakpoint_medium)
    .scrollCheckOutText
        font-size: 1.5em

    .contactMeEndPageText, .programmingText, .aviationText, .pcText, .designText
        font-size: 0.6em

    .popUpTextWrapper:hover > .popUpText, .popUpTextWrapper:active > .popUpText
        max-width: calc(100vw - 160px)
        width: calc(100vw - 160px)
        max-height: 48px
        display: flex
        flex-direction: column
        justify-content: center

    .popUpTextWrapper:hover
        height: 65px



// @media (max-width: $breakpoint_small) 

//     .appMain
//         padding-top: 0vh!important