/* This file will contain all keyframes for the entire website for reuse */


/* . */
/* Global */
/* . */

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInfadeOut {
    0% {opacity: 0;}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}


/* . */
/* Home Page */
/* . */

@keyframes bounceArrow {
    0% {margin-top: -250px;}
    5% {margin-top: -247px;}
    10% {margin-top: -246px;}
    15% {margin-top: -247px;}
    20% {margin-top: -250px;}
    25% {margin-top: -250px;}
    30% {margin-top: -247px;}
    35% {margin-top: -246px;}
    40% {margin-top: -247px;}
    45% {margin-top: -250px;}
    50% {margin-top: -250px;}
    55% {margin-top: -247px;}
    60% {margin-top: -246px;}
    65% {margin-top: -247px;}
    70% {margin-top: -250px;}
    100% {margin-top: -250px;}
}

@keyframes bounceText {
    0% {margin-top: -35px;}
    5% {margin-top: -32px;}
    10% {margin-top: -31px;}
    15% {margin-top: -32px;}
    20% {margin-top: -35px;}
    25% {margin-top: -35px;}
    30% {margin-top: -32px;}
    35% {margin-top: -31px;}
    40% {margin-top: -32px;}
    45% {margin-top: -35px;}
    50% {margin-top: -35px;}
    55% {margin-top: -32px;}
    60% {margin-top: -31px;}
    65% {margin-top: -32px;}
    70% {margin-top: -35px;}
    100% {margin-top: -35px;}
}

/* . */
/* Timeline Animations */
/* . */

@keyframes fadeOutImageKeyframe {
    0% {filter: brightness(0.3);}
    50% {filter: brightness(0.0);}
    100% {filter: brightness(0.3);}
}

/* . */
/* Timeline Initial Animaations */
/* . */

@keyframes timelineFadeout {
    0% {pointer-events: none; box-shadow: inset 0 15px 40px 15px rgba(0, 0, 0, 0.75);}
    100% {pointer-events: none; box-shadow: inset 0 15px 25vw 15px rgba(0, 0, 0, 1);}
}

@keyframes timelineUnloadTopDown {
    0% {transform: translateY(0vh); opacity: 1.0; pointer-events: none; cursor: none;}
    100% {transform: translateY(-2.5vh); opacity: 0.0;}
}
@keyframes timelineUnloadBottomUp {
    0% {transform: translateY(0vh); opacity: 1.0; pointer-events: none; cursor: none;}
    100% {transform: translateY(2.5vh); opacity: 0.0;}
}

@keyframes timelineLoadTopDown {
    0% {transform: translateY(-2.5vh); opacity: 0.0; pointer-events: none; cursor: none;}
    100% {transform: translateY(0vh); opacity: 1.0;}
}
@keyframes timelineLoadBottomUp {
    0% {transform: translateY(2.5vh); opacity: 0.0; pointer-events: none; cursor: none;}
    100% {transform: translateY(0vh); opacity: 1.0;}
}

@keyframes timelineLoadText {
    0% {color: rgba(0, 0, 0, 0);}
    100% {color: rgba(176, 176, 176, 0.3);}
}

/* . */
/* Programming Animations */
/* . */

@keyframes programmingAnimLeftRight1 {
    0% {transform: translateX(0px);}
    100% {transform: translateX(30px);}
}

@keyframes programmingAnimLeftRight2 {
    0% {transform: translateX(0px);}
    100% {transform: translateX(60px);}
}

@keyframes programmingAnimLeftRight3 {
    0% {transform: translateX(0px);}
    100% {transform: translateX(90px);}
}

@keyframes programmingAnimRightLeft1 {
    0% {transform: translateX(0px);}
    100% {transform: translateX(-30px);}
}

@keyframes programmingAnimRightLeft2 {
    0% {transform: translateX(0px);}
    100% {transform: translateX(-60px);}
}

@keyframes programmingAnimRightLeft3 {
    0% {transform: translateX(0px);}
    100% {transform: translateX(-90px);}
}

@keyframes programmingAnimAppear {
    0% {opacity: 0.0;}
    40% {opacity: 1.0;}
    60% {opacity: 1.0;}
    100% {opacity: 0.0;}
}

@keyframes programmingBGAnimAppear {
    0% {background-color: rgba(0, 0, 0, 0)}
    20% {background-color: rgba(0, 0, 0, 1)}
    80% {background-color: rgba(0, 0, 0, 1)}
    100% {background-color: rgba(0, 0, 0, 0)}
}


/* . */
/* Aviation Animations */
/* . */

@keyframes timelineAviationAnimP1 {
    0% {transform: translateY(120vh);}
    100% {transform: translateY(-180vh);}
}

@keyframes timelineAviationAnimExhaustColour1 {
    0% {box-shadow: 20vh 12.5vh 0px 12.5vh #f06f4f33;}
    65% {box-shadow: 20vh 12.5vh 0px 12.5vh #f06f4f00;}
    100% {box-shadow: 20vh 12.5vh 0px 12.5vh #f06f4f00;}
}

@keyframes timelineAviationAnimExhaustColour2 {
    0% {box-shadow: -20vh 12.5vh 0px 12.5vh #f06f4f33;}
    65% {box-shadow: -20vh 12.5vh 0px 12.5vh #f06f4f00;}
    100% {box-shadow: -20vh 12.5vh 0px 12.5vh #f06f4f00;}
}


/* . */
/* Design Animations */
/* . */

@keyframes designContentWrapperAnimation {
    0% {transform: translateX(2vw); opacity: 0.0;}
    40% {opacity: 1.0;}
    85% {opacity: 1.0;}
    100% {transform: translateX(6vw); opacity: 0.0;}
}

@keyframes designContentTextAnimation {
    0% {opacity: 0.0;}
    15% {opacity: 1.0;}
    85% {opacity: 1.0;}
    100% {opacity: 0.0;}
}

@keyframes designContentTextAnimation2 {
    0% {transform: translateX(-8.5vw);}
    100% {transform: translateX(-4.5vw);}
}

@keyframes svgAnimateD1 {
    0% {stroke-dasharray: 0 2000;}
    30% {stroke-dasharray: 100 1900;}
    70% {stroke-dasharray: 100 1900;}
    100% {stroke-dasharray: 0 2000;}
}

@keyframes svgAnimateD2 {
    0% {stroke-dasharray: 0 100 0 100 0 2000;}
    30% {stroke-dasharray: 0 0 200 0 0 1800;}
    70% {stroke-dasharray: 0 0 200 0 0 1800;}
    100% {stroke-dasharray: 0 100 0 100 0 2000;}
}

@keyframes svgAnimateE1 {
    0% {stroke-dasharray: 0 2000;}
    30% {stroke-dasharray: 100 1900;}
    70% {stroke-dasharray: 100 1900;}
    100% {stroke-dasharray: 0 2000;}
}

@keyframes svgAnimateE2 {
    0% {stroke-dasharray: 0 2000;}
    30% {stroke-dasharray: 60 2000;}
    70% {stroke-dasharray: 60 2000;}
    100% {stroke-dasharray: 0 2000;}
}

@keyframes svgAnimateE3 {
    0% {stroke-dasharray: 0 45 0 2000; opacity: 1;}
    30% {stroke-dasharray: 0 0 45 2000;}
    70% {stroke-dasharray: 0 0 45 2000;}
    100% {stroke-dasharray: 0 45 0 2000; opacity: 1;}
}

@keyframes svgAnimateS1 {
    0% {stroke-dasharray: 0 0 0 130 0 130 0 0 0 2000;}
    30% {stroke-dasharray: 50 0 0 0 150 0 0 0 50 2000;}
    70% {stroke-dasharray: 50 0 0 0 150 0 0 0 50 2000;}
    100% {stroke-dasharray: 0 0 0 130 0 130 0 0 0 2000;}
}

@keyframes svgAnimateI1 {
    0% {stroke-dasharray: 0 2000;}
    30% {stroke-dasharray: 100 2000;}
    70% {stroke-dasharray: 100 2000;} 
    100% {stroke-dasharray: 0 2000;}
}

@keyframes svgAnimateG1 {
    0% {stroke-dasharray: 0 2000;}
    30% {stroke-dasharray: 250 2000;}
    70% {stroke-dasharray: 250 2000;}
    100% {stroke-dasharray: 0 2000;}
}

@keyframes svgAnimateG2 {
    0% {stroke-dasharray: 0 2000;}
    30% {stroke-dasharray: 22 2000;}
    70% {stroke-dasharray: 22 2000;}
    100% {stroke-dasharray: 0 2000;}
}

@keyframes svgAnimateN1 {
    0% {stroke-dasharray: 0 2000;}
    30% {stroke-dasharray: 100 2000;}
    70% {stroke-dasharray: 100 2000;}
    100% {stroke-dasharray: 0 2000;}
}

@keyframes svgAnimateN2 {
    0% {stroke-dasharray: 0 70 0 70 0 2000;}
    30% {stroke-dasharray: 0 0 140 0 0 2000;}
    70% {stroke-dasharray: 0 0 140 0 0 2000;}
    100% {stroke-dasharray: 0 70 0 70 0 2000;}
}

@keyframes col1box1Part1 {
    0% {width: 0vw; height: 0vw; margin-left: calc(max(10px, 1.5vw) + max(15px, 1.25vw)); margin-top: max(15px, 1.25vw);}
    100% {width: max(30px, 2.5vw); height: max(30px, 2.5vw); margin-left: max(10px, 1.5vw); margin-top: 0px;}
}

@keyframes col1box1Part2 {
    0% {width: max(30px, 2.5vw); height: max(30px, 2.5vw); margin-left: max(10px, 1.5vw); margin-top: 0px;}
    100% {width: 0vw; height: 0vw; margin-left: calc(max(10px, 1.5vw) + max(15px, 1.25vw)); margin-top: max(15px, 1.25vw);}
}

@keyframes col1box2Part1 {
    0% {width: 1vw; opacity: 0; margin-left: calc(max(calc(10px + 11.5vw), 13vw) + max(10px, 1.5vw));}
    30% {opacity: 1;}
    100% {width: 12.5vw; opacity: 1; margin-left: max(calc(10px), 1.5vw);}
}

@keyframes col1box2Part2 {
    0% {width: 12.5vw; opacity: 1; margin-left: max(calc(10px), 1.5vw);}
    30% {opacity: 1;}
    100% {width: 1vw; opacity: 0; margin-left: calc(max(calc(10px + 11.5vw), 13vw) + max(10px, 1.5vw));}
}

@keyframes col1box3Part1 {
    0% {height: 0vh; opacity: 0; margin-top: calc(21vh + max(10px, 1.5vw));}
    30% {opacity: 1;}
    100% {height: 5vh; opacity: 1; margin-top: calc(16vh + max(10px, 1.5vw));}
}

@keyframes col1box3Part2 {
    0% {height: 5vh; opacity: 1; margin-top: calc(16vh + max(10px, 1.5vw));}
    70% {opacity: 1;}
    100% {height: 0vh; opacity: 0; margin-top: calc(21vh + max(10px, 1.5vw));}
}

@keyframes col1box4Part1 {
    0% {height: 50vh; margin-top: 0vh;}
    100% {height: 42.5vh; margin-top: 7.5vh;}
}

@keyframes col1box4Part2 {
    0% {height: 42.5vh; margin-top: 7.5vh;}
    100% {height: 50vh; margin-top: 0vh;}
}

@keyframes col1box5Part1 {
    0% {width: 0%; height: 0vh;}
    100% {width: 50%; height: 10vh;}
}

@keyframes col1box5Part2 {
    0% {width: 50%; height: 10vh;}
    100% {width: 0%; height: 0vh;}
}

@keyframes col1box6Part1 {
    0% {width: 0%; height: 0vh; margin-left: 83%; margin-top: 13vh;}
    100% {width: 25%; height: 10vh; margin-left: 8%; margin-top: 3vh;}
}

@keyframes col1box6Part2 {
    0% {width: 25%; height: 10vh; margin-left: 8%; margin-top: 3vh;}
    100% {width: 0%; height: 0vh; margin-left: 83%; margin-top: 13vh;}
}

@keyframes col1box7Part1 {
    0% {width: 0%; height: 0vh; margin-left: 90%;}
    100% {width: 80%; height: 7vh; margin-left: 10%;}
}

@keyframes col1box7Part2 {
    0% {width: 80%; height: 7vh; margin-left: 10%;}
    100% {width: 0%; height: 0vh; margin-left: 90%;}
}

@keyframes col1box8Part1 {
    0% {width: 0%; height: 0vh; margin-top: 6vh;}
    100% {width: 30%; height: 3vh; margin-top: 3vh;}
}

@keyframes col1box8Part2 {
    0% {width: 30%; height: 3vh; margin-top: 3vh;}
    100% {width: 0%; height: 0vh; margin-top: 6vh;}
}

@keyframes col2box1Part1 {
    0% {width: 40px; opacity: 0.0;}
    60% {opacity: 1.0;}
    100% {width: max(30px, 15vw)}
}

@keyframes col2box1Part2 {
    0% {width: max(30px, 15vw); margin-left: 3.5vw}
    20% {opacity: 1.0;}
    100% {width: 40px; margin-left: calc(18.5vw - 40px); opacity: 0.0;}
}

@keyframes col2box2Part1 {
    0% {width: 40px; opacity: 0.0; height: 40px; margin-left: calc(18.5vw - 40px);}
    60% {opacity: 1.0;}
    100% {width: max(30px, 14.5vw); height: max(20px, 15vh); margin-left: 4vw;}
}

@keyframes col2box2Part2 {
    0% {width: max(30px, 14.5vw); margin-left: 4vw; height: max(20px, 15vh);}
    20% {opacity: 1.0;}
    100% {height: 40px; opacity: 0.0; width: 40px; margin-left: calc(18.5vw - 40px);}
}

@keyframes col2box4Part1 {
    0% {width: 40px; opacity: 0.0;}
    60% {opacity: 1.0;}
    100% {width: max(30px, 13vw)}
}

@keyframes col2box4Part2 {
    0% {width: max(30px, 13vw); margin-left: 5.5vw}
    20% {opacity: 1.0;}
    100% {width: 40px; margin-left: calc(18.5vw - 40px); opacity: 0.0;}
}

@keyframes col3box1Part1 {
    0% {width: 40px; opacity: 0.0; margin-left: calc(50% - 20px);}
    60% {opacity: 1.0;}
    100% {width: 80%; margin-left: 10%}
}

@keyframes col3box1Part2 {
    0% {width: 80%; margin-left: 10%}
    20% {opacity: 1.0;}
    100% {width: 40px;  margin-left: calc(50% - 20px); opacity: 0.0;}
}

@keyframes col3WavesPart1 {
    0% {opacity: 0.0; translate: 0px 0px;}
    50% {opacity: 1.0;}
    100% {opacity: 1.0; translate: -60px 0px;}
}

@keyframes col3WavesPart2 {
    0% {opacity: 1.0; translate: -60px 0px;}
    50% {opacity: 1.0;}
    100% {opacity: 0.0; translate: 0px 0px;}
}

@keyframes col3WavesPart3 {
    0% {opacity: 0.0; translate: -60px 0px;}
    33% {opacity: 1.0;}
    100% {opacity: 1.0; translate: 0px 0px;}
}

@keyframes col3WavesPart4 {
    0% {opacity: 1.0; translate: 0px 0px;}
    33% {opacity: 1.0;}
    100% {opacity: 0.0; translate: -60px 0px;}
}

@keyframes col4box1Part1 {
    0% {width: 40px; opacity: 0.0; margin-left: calc(50% - 20px);}
    60% {opacity: 1.0;}
    100% {width: 60%; margin-left: 20%}
}

@keyframes col4box1Part2 {
    0% {width: 60%; margin-left: 20%}
    20% {opacity: 1.0;}
    100% {width: 40px;  margin-left: calc(50% - 20px); opacity: 0.0;}
}

@keyframes col4box2Part1 {
    0% {width: 40px; opacity: 0.0; margin-left: calc(50% - 20px);}
    60% {opacity: 1.0;}
    100% {width: 30%; margin-left: 35%}
}

@keyframes col4box2Part2 {
    0% {width: 30%; margin-left: 35%}
    20% {opacity: 1.0;}
    100% {width: 40px;  margin-left: calc(50% - 20px); opacity: 0.0;}
}

@keyframes pieChartAnim {
    0% {rotate: 0deg; opacity: 0.0;}
    25% {rotate: -80deg; opacity: 1.0;}
    50% {rotate: -4deg;}
    75% {rotate: -130deg; opacity: 1.0;}
    100% {rotate: 30deg; opacity: 0.0;}
}

@keyframes lineGraph {
    0% {stroke-dasharray: 0 0 0 2000;}
    40% {stroke-dasharray: 0 0 300 2000;}
    60% {stroke-dasharray: 0 0 300 2000;}
    100% {stroke-dasharray: 0 300 0 2000;}
}

@keyframes cubeAnimation {
    0% {transform: rotateX(22.5deg) rotateY(0deg) rotateZ(0deg);}
    25% {transform: rotateX(22.5deg) rotateY(45deg) rotateZ(0deg);}
    50% {transform: rotateX(22.5deg) rotateY(90deg) rotateZ(0deg);}
    75% {transform: rotateX(22.5deg) rotateY(135deg) rotateZ(0deg);}
    100% {transform: rotateX(22.5deg) rotateY(180deg) rotateZ(0deg);}
}

@keyframes cornerDesignTopLeft1 {
    0% {height: 120vh; transform: translate(10px, 120vh); opacity: 0.0;}
    20% {height: 120vh; transform: translate(20px, -100px); opacity: 0.6;}
    80% {height: 120vh; opacity: 0.6;}
    100% {height: 0px; transform: translate(60px, -100px); opacity: 0.0;}
}

@keyframes cornerDesignTopLeft2 {
    0% {height: 70vh; transform: translate(43px, 120vh); opacity: 0.0;}
    20% {height: 70vh; transform: translate(53px, 300px); opacity: 0.4;}
    80% {height: 70vh; opacity: 0.4;}
    100% {height: 0px; transform: translate(93px, 300px); opacity: 0.0;}
}

@keyframes cornerDesignTopLeft3 {
    0% {height: 0px; transform: translate(80px, -50vh); opacity: 0.0;}
    20% {height: 120vh; opacity: 0.2;}
    80% {height: 120vh; transform: translate(120px, -50vh); opacity: 0.2;}
    100% {height: 120vh; transform: translate(130px, 120vh); opacity: 0.0;}
}

@keyframes cornerDesignTopLeft4 {
    0% {width: 0px; opacity: 0.0;}
    20% {width: 52.5vw; opacity: 0.6;}
    80% {width: calc(52.5vw + 50px); opacity: 0.6;}
    100% {width: 0px; opacity: 0.0;}
}

@keyframes cornerDesignTopLeft5 {
    0% {width: 0px; opacity: 0.0;}
    25% {width: 42.5vw; opacity: 0.4; transform: translate(0px, -10px);}
    50% {width: 15vw; opacity: 0.4; transform: translate(0px, -10px);}
    75% {width: 52.5vw; opacity: 0.4; transform: translate(37.5px, -10px);}
    100% {width: 0px; opacity: 0.0; transform: translate(calc(52.5vw + 50px), -10px);}
}

@keyframes cornerDesignTopRight1 {
    0% {width: 0px; opacity: 0.0; transform: translate(130vw, -130px);}
    25% {width: 40vw; opacity: 0.7; transform: translate(90vw, -130px);}
    75% {width: 40vw; opacity: 0.7; transform: translate(calc(90vw + 40px), -130px);}
    100% {width: 0px; opacity: 0.0; transform: translate(130vw, -130px);}
}

@keyframes cornerDesignTopRight2 {
    0% {width: 0px; opacity: 0.0; transform: translate(115vw, -110px);}
    25% {width: 40vw; opacity: 0.7; transform: translate(75vw, -110px);}
    75% {width: 40vw; opacity: 0.7; transform: translate(calc(75vw + 40px), -110px);}
    100% {width: 0px; opacity: 0.0; transform: translate(115vw, -110px);}
}

@keyframes cornerDesignBottomRight1 {
    0% {width: 0px; opacity: 0.0; transform: translate(120vw, 80vh);}
    25% {width: 40vw; opacity: 0.7; transform: translate(82.5vw, 80vh);}
    75% {width: 40vw; opacity: 0.7; transform: translate(calc(82.5vw + 40px), 80vh);}
    100% {width: 0px; opacity: 0.0; transform: translate(120vw, 80vh);}
}


/* . */
/* PC Building Animations */
/* . */

@keyframes CPU {
    0% {opacity: 0.0; scale: 1.15;}
    80% {opacity: 1.0;}
    100% {scale: 1.0;}
}

@keyframes CPUHandle {
    0% {transform: rotateY(-90deg);}
    100% {transform: rotateY(0deg);}
}

@keyframes RAM-Lightup {
    0% {background-color: #333; box-shadow: 0px 0px 0px black;}
    100% {background-color: #ccc; box-shadow: 0px 0px 3px grey;}
}

@keyframes CPUCooler {
    0% {opacity: 0.0; scale: 0.35;}
    80% {opacity: 1.0;}
    100% {scale: 0.3;}
}

@keyframes FanRotate {
    0% {rotate: 0deg;}
    100% {rotate: -360deg;}
}

@keyframes GPU-Lightup {
    0% {background-color: #333;}
    100% {background-color: #eee;}
}

@keyframes CaseFansTop {
    0% {transform: translateY(60px); opacity: 0.0;}
    100% {transform: translateY(0px); opacity: 1.0;}
}

@keyframes CaseFansRight {
    0% {transform: translateX(-40px); opacity: 0.0;}
    100% {transform: translateX(0px); opacity: 1.0;}
}